@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Variables */
:root {
  --primary: #9db8a7;
  --background: #f4f7f9;
  --light: #fbfcfa;
  --dark-text: #172d20;
  --primary-dark: #9CB0A3;

  --shadow: rgba(19, 41, 28, 0.3) 0px 1px 2px 0px, rgba(19, 41, 28, 0.15) 0px 1px 3px 1px;
  --text-outline: -1px 0 var(--dark-text), 0 1px var(--dark-text), 1px 0 var(--dark-text), 0 -1px var(--dark-text);
  --rounded-corner: 6px;
}

.App {
  /* text-align: center;
  justify-content: center;
  width: 80%;
  margin: auto auto; */
  color: var(--dark-text); 
}

/* Created class specifically body width */
.center-width {
  text-align: center;
  justify-content: center;
  width: 80%;
  margin: auto auto;
}

/* Remove bullet points */
ul {
  list-style: none;
}

/* Default card styling */
.card {
  background-color: var(--light);
  border-radius: var(--rounded-corner);
  box-shadow: var(--shadow);
  padding: 2rem 4rem;
}

/* Styles for buttons that are icons */
.btn-icon {
  background: none;
  border: none;
  padding: 0;
}

/* Default style for inputs */
.label-input {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.label-input label {
  font-weight: Bold;
  text-align: left;
  margin-bottom: 0.25rem;
}

.label-input input {
  border: none;
  background-color: var(--background);
  padding: 8px;
  border-radius: var(--rounded-corner);
  /* box-shadow: var(--shadow); */
  border: 1px solid var(--dark-text);
}

input[type="file"]::file-selector-button {
  background-color: var(--primary-dark);
  color: var(--light);
  border-radius: var(--rounded-corner);
  border: none;
  padding: .25rem .5rem;
}

input[type="file"]::file-selector-button:hover {
  cursor: pointer;
}

input[type="file"]::file-selector-button:active {
  transform: scale(0.97);
}

/* Styling for buttons for forms */
.btn {
  background-color: var(--primary-dark);
  color: var(--light);
  border: none;
  border-radius: var(--rounded-corner);
  box-shadow: var(--shadow);
  font-size: 1.2em;
  padding: .5rem 1rem;
  transition: all .1s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(0.97);
}