@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Variables */
:root {
  --primary: #9db8a7;
  --background: #f4f7f9;
  --light-card: #fbfcfa;
}

.App {
  text-align: center;
  justify-content: center;
  width: 80%;
  margin: auto auto; 
}


/* BASIC CSS FOR APP DISPLAY */

.recipeCard-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}