.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}

.login-card {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.login-card h2 {
    font-size: 3.4em;
    font-weight: bold;
    margin-bottom: 4rem;
    color: var(--primary);
}

.label-input .reg-link {
    text-decoration: none;
    color: var(--dark-text);
    margin-top: 1.5rem;
    text-align: left;
    transition: all .1s ease-in-out;
}

.label-input .reg-link:hover {
    color: var(--primary-dark);
    transform: scale(1.01);
    font-weight: bold;
}

.error-message {
    color: red;
}