.navbar {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
    /* border: 1px solid red; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: row;

}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.navbar ul {
    list-style: none;
}
.navbar ul li{
    margin-right: 1rem;
}

.nav .nav-link {
    text-decoration: none;
    display: block;
}

.right-side {
    margin-left: auto;
}
.menu {
    display: flex;
    flex-direction: row;
}