.reg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.reg-card {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.reg-card h2 {
    font-size: 3.4em;
    margin-bottom: 4rem;
    color: var(--primary);
}