.user-profile {
    display: flex;
    justify-content: space-between;
}

.user-container-card {
    border: 1px solid red;
    background-color: var(--light);
    padding: 4rem;
    /* flex: 1; */
}

.profile-picture {
    max-height: 130px;
    width: 100%;
}

.post-container {
    flex: 5;
}

.user-recipe-manager {
    background-color: var(--light);
    border: 1px solid red;
    padding: 1rem;
}