.user-profile {
    display: flex;
    justify-content: space-around;
    max-width: 65%;
}

.user-container-card {
    background-color: var(--light);
    padding: 4rem 6rem;
}

.profile-picture {
    max-height: 130px;
    width: 100%;
}

.user-recipe-manager {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}